*{
    padding: 0px;
    margin: 0px;
}

.background{
    background-color: rgb(45, 45, 45);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: grey;
    height: 64vh;
    width: 24vw;
    border-radius: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-interface{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display{
    margin: 8px;
    background-color: rgb(193, 214, 184);
    min-height: 16vh;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.total{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 8px 16px;
    text-align: end;
}

.input{
    
    margin: 8px 16px;
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}

.buttons{
    border-radius: 48px;
    background-color: rgb(112, 112, 112);
    margin: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:20px 14px;
    /* row-gap: 36px;
    column-gap: 30px; */
    /* justify-content: center; */
    /* align-items: center; */

}

.button{
    background-color: rgb(64, 64, 64);
    color: whitesmoke;
    margin: 8px;
    font-size: 32px;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 48px;
}